body {
    font-family: Comic Sans MS, cursive;;
    background-color: #93C572;
    margin: 0;
    padding: 0;
}

.logo-container {
    display: flex;
    align-items: center; /* Center logo vertically */
}

.logo {
    height: 70px; /* Set a fixed height for the logo */
    width: 70px;
    margin-right: 10px; /* Space between logo and title */
}


header {
    background: #4F7942;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 90px; /* Set a fixed width for the icon */
    height: 90px; /* Set a fixed height for the icon */
    margin-left: 10px; /* Space between the heading and the icon */
    vertical-align: middle; /* Align icon vertically with text */
}

.tooltip {
    position: relative; /* Position relative for the tooltip */
    display: inline-block; /* Allow the tooltip to be positioned */
}

.tooltip .tooltiptext {
    visibility: hidden; /* Hidden by default */
    width: 120px; /* Set a width for the tooltip */
    background-color: black; /* Background color */
    color: #fff; /* Text color */
    text-align: center; /* Center text */
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Padding */
    position: absolute; /* Position the tooltip */
    z-index: 1; /* Ensure it appears above other elements */
    bottom: 125%; /* Position above the icon */
    left: 50%; /* Center horizontally */
    margin-left: -60px; /* Adjust to center */
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s; /* Fade in effect */
}

.tooltip:hover .tooltiptext {
    visibility: visible; /* Show the tooltip on hover */
    opacity: 1; /* Fade in */
}

h1 {
    color: white;
    text-shadow: 0px 5px 5px black;
    font-family: Comic Sans MS, cursive;
}

main {
    padding: 20px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px;
    margin-top: 20px;
}

button {
    padding: 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 400px;
font-family: Comic Sans MS, cursive;
}

button:hover {
    background-color: #45a049;
}

#logout {
    color: white;
    text-decoration: none;
}

#logout:hover {
    text-decoration: underline;
}

#profile-icon img {
    border-radius: 50%; /* Make the profile icon circular */
}

footer {
    text-align: center;
    padding: 10px;
    background: #4F7942;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}